.elemento{
    height: 90px;
    width: 90px;
    align-items: center;
    
}
#tabelaPeriodica table tr td{
    cursor: grab;
}
.semelemento{
    height: 90px;
    width: 90px;
    background-color: white;
}
.NA{
    margin-right: 65px;
    
}
.S{
    margin-right: 80px; 
}
.NOME{
    margin-right: 30px;
}
.caixona{
    height: 185px;
    width: 1136px;
    
    z-index: 999999;
    margin-top: -845px;
    margin-left: 230px;
    display: flex;
    align-items: center;
}
.elementinho{
    height: 150px;
    width: 150px;
    background-color: brown;
    margin-left: 20px;
    float: left;
    display: block;
}
.elementinho .simbolo{
    font-size: 80px;
    padding: 25px 0px;
    margin: 0;
    text-align: center;
}
.dados{
    height: 185px;
    background-color:#d8cdcd;
    width: 960px;
    margin-left: 5px;
    padding: 0px;
}
.dados ul{
    height: 155px;
    display: block;
    float: left;
    border: 1px solid rgb(2, 2, 2);
    width: 930px;
    margin-left: 9px;
    padding: 0;
}
.dados ul li{
    width: 463px;
    height: auto;
    float: left;
    display: block;
    list-style-type: none;
    border: 1px solid rgb(1, 1, 1);
    padding: 0;
}